<!--
  ~ *************************************************************
  ~ 文件：AndroidManifest.xml  模块：ElegantBus.ipc.main  项目：ElegantBus
  ~ 当前修改时间：2023年06月01日 18:33:18
  ~ 上次修改时间：2023年06月01日 18:27:02
  ~ 作者：Cody.yi   https://github.com/codyer
  ~
  ~ 描述：ElegantBus.ipc.main
  ~ Copyright (c) 2023
  ~ *************************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cody.bus.ipc">

    <permission android:name="${BUS_MAIN_APPLICATION_ID}.ipc.PERMISSION"
        android:label="bus process service permission"
        android:protectionLevel="signature" />

    <uses-permission android:name="${BUS_MAIN_APPLICATION_ID}.ipc.PERMISSION" />

    <application>
        <meta-data android:name="BUS_SUPPORT_MULTI_APP"
            android:value="${BUS_SUPPORT_MULTI_APP}" />
        <meta-data android:name="BUS_MAIN_APPLICATION_ID"
            android:value="${BUS_MAIN_APPLICATION_ID}" />
    </application>
</manifest>