<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ *************************************************************
  ~ 文件：AndroidManifest.xml  模块：app  项目：DoveBus
  ~ 当前修改时间：2020年06月14日 23:12:17
  ~ 上次修改时间：2020年06月14日 23:11:57
  ~ 作者：Cody.yi   https://github.com/codyer
  ~
  ~ 描述：app
  ~ Copyright (c) 2020
  ~ *************************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cody.bus.example">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".DoveBusDemoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>