<!--
  ~ *************************************************************
  ~ 文件：AndroidManifest.xml  模块：ElegantBus.bus.ipc-messenger  项目：ElegantBus
  ~ 当前修改时间：2021年08月15日 17:27:55
  ~ 上次修改时间：2021年08月15日 17:26:11
  ~ 作者：Cody.yi   https://github.com/codyer
  ~
  ~ 描述：ElegantBus.bus.ipc-messenger
  ~ Copyright (c) 2021
  ~ *************************************************************
  -->

<manifest package="cody.bus.ipc"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="${applicationId}.ipc.PERMISSION"
        android:label="bus process service permission"
        android:protectionLevel="signature"/>

    <uses-permission android:name="${BUS_MAIN_APPLICATION_ID}.ipc.PERMISSION" />

    <application>

        <service
            android:name="cody.bus.ElegantBusService"
            android:enabled="true"
            android:exported="${BUS_SUPPORT_MULTI_APP}"
            android:permission="${BUS_MAIN_APPLICATION_ID}.ipc.PERMISSION"
            android:process="${BUS_MAIN_APPLICATION_ID}.ElegantBusService" >
            <meta-data android:name="BUS_SUPPORT_MULTI_APP" android:value="${BUS_SUPPORT_MULTI_APP}"/>
            <meta-data android:name="BUS_MAIN_APPLICATION_ID" android:value="${BUS_MAIN_APPLICATION_ID}"/>
        </service>
    </application>

</manifest>