<!--
  ~ *************************************************************
  ~ 文件：AndroidManifest.xml  模块：ipc-messenger  项目：ElegantBus
  ~ 当前修改时间：2020年06月19日 15:08:59
  ~ 上次修改时间：2020年06月19日 14:29:54
  ~ 作者：Cody.yi   https://github.com/codyer
  ~
  ~ 描述：ipc-messenger
  ~ Copyright (c) 2020
  ~ *************************************************************
  -->

<manifest package="cody.bus.ipc"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="${BUS_MAIN_APPLICATION_ID}.cody.bus.ipc.permission"
        android:label="bus process service permission"
        android:protectionLevel="signature" />

    <uses-permission android:name="${BUS_MAIN_APPLICATION_ID}.cody.bus.ipc.permission" />

    <application>

        <service
            android:name="cody.bus.ProcessManagerService"
            android:enabled="true"
            android:exported="${BUS_SUPPORT_MULTI_APP}"
            android:permission="${BUS_MAIN_APPLICATION_ID}.cody.bus.ipc.permission"
            android:process="${BUS_MAIN_APPLICATION_ID}.cody.bus.ProcessManagerService" >
            <meta-data android:name="BUS_SUPPORT_MULTI_APP" android:value="${BUS_SUPPORT_MULTI_APP}"/>
            <meta-data android:name="BUS_MAIN_APPLICATION_ID" android:value="${BUS_MAIN_APPLICATION_ID}"/>
        </service>
    </application>

</manifest>